/*!
	-----------------------------------------------------------------------------

	2.0 - Basicos
			# Basic
			# Utility
			# Extra

	-----------------------------------------------------------------------------
	*/

/*  Basic
	========================================================================== */
*,
*:after,
*:before
	box-sizing: border-box

*
	margin: 0
	padding: 0

body
	background-color: $white
	font:
		family: $f-base
		size: 16px
		weight: $regular
	color: $font-color

/* a */
a
	color: $link
	font:
		family: $f-base
		weight: $bold
	text-decoration: none
	+transition(all 0.3s ease-in)
	&:hover
		color: $link
		text-decoration: none
		+transition(all 0.3s ease-out)

p,ol,ul
	font-size: 1em
	+respond-to(sl)
		font-size: .8em

ol
	padding-left: 3rem
	margin: 16px 0
	+respond-to(sl)
		padding-left: 1em
	li
		margin: 8px 0

.mt-50
	margin-top: 50px

/* img */
img
	+transition(all 0.3s ease-in)

/* Utility
   ========================================================================== */
/* h1 - h6 */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
	font:
		family: $f-base
		weight: $bold
	margin: 0
	padding: 0
h1,
.h1
	font-size: 2.8em
h2,
.h2
	font-size: 2.4em
h3,
.h3
	font-size: 2em
h4,
.h4
	font-size: 1.2em
h5,
.h5
	font-size: 1.1em
h6,
.h6
	font-size: 0.8rem
	font-weight: $regular

/* hr */
hr
	border: none
	margin: 0

/* Wrap*/
.wrap
	position: relative

/*  Btn
	================================================ */
.ladda-button
	background-color: transparent
	border-radius: 0
	padding: 0

.btn-primary.ladda-button[disabled],
.btn-primary.ladda-button[disabled]:hover,
.btn-primary.ladda-button[data-loading],
.btn-primary.ladda-button[data-loading]:hover
	background-color: $primary

.btn
	display: inline-block
	text-align: center
	white-space: nowrap
	vertical-align: middle
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	border: 1px solid transparent
	padding: .375rem 1.65rem
	line-height: 1.5
	font-size: $fs-16
	font-weight: $regular
	letter-spacing: 1px
	border-radius: .25rem
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out

.btn-primary
	border-color: $primary
	background-color: $primary
	background-image: url(../images/BOTON.png)
	background-position: 50%
	background-repeat: no-repeat
	background-size: 260px 60px
	border-radius: 40px
	color: $white
	padding: .375rem 1.65rem
	text-transform: uppercase
	&:active,
	&:focus,
	&:hover,
	&:active,
	&:active:focus,
	&:active:hover,
	&:disabled,
	&[disabled]:hover,
	&[disabled]:focus,
	&:hover,
	&:focus,
	&:not(:disabled):not(.disabled):active,
	&:not(:disabled):not(.disabled).active
		border-color: lighten( $primary, 10% )
		background-color: lighten( $primary, 10% )
		box-shadow: none
		color: $white


.btn-secondary
	border-color: $secondary
	// background-color: $secondary
	background-color: transparent
	color: $white
	&:active,
	&:focus,
	&:hover,
	&:active,
	&:active:focus,
	&:active:hover,
	&:disabled,
	&[disabled]:hover,
	&[disabled]:focus,
	&:hover,
	&:focus
		border-color: darken( $secondary, 10% )
		// background-color: darken( $secondary, 10% )
		background-color: transparent
		box-shadow: none
		color: $white

.btn-outline-primary
	border-color: $grey-d
	color: $grey-d
	&:active,
	&:focus,
	&:hover,
	&:active,
	&:active:focus,
	&:active:hover,
	&:disabled,
	&[disabled]:hover,
	&[disabled]:focus,
	&:hover,
	&:focus
		box-shadow: 0 0 0 0.1rem rgba($primary,0.1)

.btn-warning
	border-color: $accent
	background-color: $accent
	&:active,
	&:focus,
	&:hover,
	&:active,
	&:active:focus,
	&:active:hover,
	&:disabled,
	&[disabled]:hover,
	&[disabled]:focus,
	&:hover,
	&:focus
		border-color: darken( $accent, 10% )
		background-color: darken( $accent, 10% )
		box-shadow: 0 0 0 0.1rem rgba($accent,0.1)

.btn-error
	border-color: $error
	background-color: $error
	&:active,
	&:focus,
	&:hover,
	&:active,
	&:active:focus,
	&:active:hover,
	&:disabled,
	&[disabled]:hover,
	&[disabled]:focus,
	&:hover,
	&:focus
		border-color: darken( $error, 10% )
		background-color: darken( $error, 10% )
		box-shadow: 0 0 0 0.1rem rgba($error,0.1)

.btn-success
	border-color: $success
	background-color: $success
	&:active,
	&:focus,
	&:hover,
	&:active,
	&:active:focus,
	&:active:hover,
	&:disabled,
	&[disabled]:hover,
	&[disabled]:focus,
	&:hover,
	&:focus
		border-color: darken( $success, 10% )
		background-color: darken( $success, 10% )
		box-shadow: 0 0 0 0.1rem rgba($success,0.1)

.btn-info
	border-color: $info
	background-color: $info
	&:active,
	&:focus,
	&:hover,
	&:active,
	&:active:focus,
	&:active:hover,
	&:disabled,
	&[disabled]:hover,
	&[disabled]:focus,
	&:hover,
	&:focus
		border-color: darken( $info, 10% )
		background-color: darken( $info, 10% )
		box-shadow: 0 0 0 0.1rem rgba($info,0.1)

.btn-outline-default
	background-color: transparent
	border-color: $font-color
	color: $font-color
	&:active,
	&:focus,
	&:hover,
	&:active,
	&:active:focus,
	&:active:hover,
	&:disabled,
	&[disabled]:hover,
	&[disabled]:focus,
	&:hover,
	&:focus
		border-color: darken( $font-color, 10% )
		color: darken( $font-color, 10% )
		box-shadow: none

// 
.highlight
	color: $secondary
	font-weight: $bold

.bold
	font-weight: $bold

.primary-color
	color: $primary


.container-960
	max-width: 960px
	width: 960px
	margin: 0 auto
	height: calc(100vh - 80px);
	+respond-to(xs)
		width: 100%

.container-1024
	max-width: 1024px
	width: 1024px
	margin: 0 auto
	padding: 0 40px
	+respond-to(xs)
		width: 100%
		overflow: hidden
		padding: 0 10px

.row
	width: 100%
	margin: 16px auto
	text-align: center

.full-height
	height: 100vh
	width: 100%
	+respond-to(sp)
		height: auto
		overflow: hidden

// 
.avion
	left: 0
	position: fixed
	right: 0
	top: 0
	text-align: center
	width: 100%
	transition: (transform 0.3s cubic-bezier(0.59, -0.45, 0.69, 0.39),-webkit-transform 0.3s cubic-bezier(.47,0,.74,.71))
	z-index: 9
	img
		max-width: 100%
		width: 100%
	@media (min-width: 601px) and (max-width: 768px ) and (orientation: landscape)
		top: -30px
	@media screen and (max-width: 600px ) and (orientation: landscape)
		top: -30px
	@media screen and (max-width: 480px ) and (orientation: landscape)
		top: -30px

	&.avion-finalizar
		@media (min-width: 601px) and (max-width: 768px ) and (orientation: landscape)
			top: -70px
		@media screen and (max-width: 600px ) and (orientation: landscape)
			top: -60px
		@media screen and (max-width: 480px ) and (orientation: landscape)
			top: -60px

	&.avion-qr
		top: -80px
		+respond-to(xs)
			top: -70px
		+respond-to(tp)
			top: -60px
		+respond-to(tx)
			top: -40px
		+respond-to(sl)
			top: -30px
		+respond-to(sp)
			top: -20px

		@media (min-width: 601px) and (max-width: 768px ) and (orientation: landscape)
			top: -80px
		@media screen and (max-width: 600px ) and (orientation: landscape)
			top: -80px
		@media screen and (max-width: 480px ) and (orientation: landscape)
			top: -80px


	&.avion-anim
		transform: translateY(-100px)
		+respond-to(tl)
			transform: translateY(-40px)
		+respond-to(xs)
			transform: translateY(-40px)
		+respond-to(tp)
			transform: translateY(-40px)
		+respond-to(sl)
			transform: translateY(-40px)
		+respond-to(sp)
			transform: translateY(-40px)
		// @media (min-width: 601px) and (max-width: 768px ) and (orientation: landscape)
		// 	transform: translateY(-40px)
		// @media screen and (max-width: 600px ) and (orientation: landscape)
		// 	transform: translateY(-40px)
		// @media screen and (max-width: 480px ) and (orientation: landscape)
		// 	transform: translateY(-40px)